.invoice {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 120px;
  margin-top: -60px;
  z-index: 2;
  .container {
    padding: 0px !important;
    width: 100%;
    background-color: white;
  }
}

.invoice div {
  cursor: pointer;
  padding-bottom: 10px;
  border-radius: 10px;
  z-index: 10;
  height: 250px;
}

.newinvoice {
  width: 100% !important;
  height: 40% !important;
}

.newinvoice_text {
  // font-weight: 900;
  font-size: 30px;
}

.invoice_new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.invoice_option {
  border: 2px solid grey !important;
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
  width: 35px !important;
  height: 35px !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.content {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 95%;
  left: 50%;
  opacity: 1;
}

.recName {
  padding-top: 45px;
}
